:root {
    --font-color: black;
    --background-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: white;
        --background-color: black;
    }
}

html {
    color: var(--font-color);
    background-color: var(--background-color);
}